<div class="content-wrapper">
    <div class="carousel-content">
        <div uib-carousel active="0" interval="3000">
            <div uib-slide index="0">
                <img src="build/img/ocean.jpg" alt="ocean" style="margin:auto;">
                <div class="carousel-caption caption-event">
                    <h4>Vacation</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel accumsan ipsum. Cras dictum magna massa, eget euismod odio commodo in</p>
                </div>
            </div>
            <div uib-slide index="1">
                <img src="build/img/picnic.jpg" alt="picnic" style="margin:auto;">
                <div class="carousel-caption caption-event">
                    <h4>Time with your family!</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel accumsan ipsum. Cras dictum magna massa, eget euismod odio commodo in</p>
                </div>
            </div>
            <div uib-slide index="2">
                <img src="build/img/badminton.jpg" alt="badminton" style="margin:auto;">
                <div class="carousel-caption caption-event">
                    <h4>Slide</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel accumsan ipsum. Cras dictum magna massa, eget euismod odio commodo in</p>
                </div>
            </div>
        </div>
    </div>
    <div class="upcoming-events">
        <div class="upcoming-events-item1">
            <h4>May require custom widths</h4>
            <h6>15.09.2016</h6>
            <p>Inputs and selects have so multiple controls can reside on the same line. Depending on your layout, additional custom widths may be required.</p>
        </div>
        <div class="upcoming-events-item2">
            <h4>May require custom widths</h4>
            <h6>20.09.2016</h6>
            <p>Inputs and selects have so multiple controls can reside on the same line. Depending on your layout, additional custom widths may be required.</p>
        </div>
        <div class="upcoming-events-item3">
            <h4>May require custom widths</h4>
            <h6>30.09.2016</h6>
            <p>Inputs and selects have so multiple controls can reside on the same line. Depending on your layout, additional custom widths may be required.</p>
        </div>
    </div>
    <div class="container-fluid grid grid-item four-cols">
        <div class="item-news">
            <article>
                <time>
                    <div class="time-header">
                        <em class="data">July</em>
                        <strong class="data">27</strong>
                    </div>
                </time>
                <div class="inner-caption-item">
                    <h4 class="header-link"><a href="#" title="">Tennis game</a></h4>
                    <p>Corso di formazione interaziendale di secondo livello. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                </div>
            </article>
        </div>
        <div class="item-news">
            <div>
                <article>
                    <time>
                        <div class="time-header">
                            <em class="data F">August</em>
                            <strong class="data d">09</strong>
                        </div>
                    </time>
                    <div class="inner-caption-item">
                        <h4 class="header-link"><a href="#" title="">Tennis game</a></h4>
                        <p>Corso di formazione interaziendale di secondo livello.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </article>
            </div>
        </div>
        <div class="item-news">
            <article>
                <time>
                    <div class="time-header">
                        <em class="data F">August</em>
                        <strong class="data d">26</strong>
                    </div>
                </time>
                <div class="inner-caption-item">
                    <h4 class="header-link"><a href="#" title="">Excursion</a></h4>
                    <p>Corso di formazione interaziendale di secondo livello.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </article>
        </div>
    </div>
</div>
