<div class="content-wrapper content-news">
    <div class="carousel-content col-xs-12 col-md-6">
        <div uib-carousel active="0" interval="3000">
            <div uib-slide ng-repeat="eventItem in events" index="$index">
                <img src="{{eventItem.src}}" alt="ocean" style="margin:auto;">
                <div class="carousel-caption caption-event">
                    <h4>{{eventItem.title}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="upcoming-events col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-6 no-pad">
            <div ng-repeat="eventItem in events" class="upcoming-events-items">
                <h4><a href="#">{{eventItem.title}}</a></h4>
                <h6>{{eventItem.date | date:'MM.dd.yyyy'}}</h6>
                <p>{{eventItem.desc}}</p>
            </div>
        </div>
    </div>
    <div class="row items-news">
        <div ng-repeat="eventItem in events" class="item-news col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-3">
            <article>
                <time>
                    <div class="time-header">
                        <em class="data">{{eventItem.date | date:'MM.dd.yyyy'}}</em>
                    </div>
                </time>
                <div class="inner-caption-item">
                    <h4 class="header-link"><a href="#">{{eventItem.title}}</a></h4>
                    <p>{{eventItem.description}}</p>
                </div>
            </article>
        </div>
    </div>
</div>
