<div class="container">
    <table class="table table-hover responsive" wt-responsive-table>
        <thead>
            <tr>
                <th table-sorting="id">id
                  <div class="glyphicon" ng-if="predicate === 'id'" ng-class="{'glyphicon-arrow-up':  reverseSort, 'glyphicon-arrow-down': !reverseSort}">
                  </div>
                </th>
                <th table-sorting="full_name">Name
                  <div class="glyphicon" ng-if="predicate === 'full_name'" ng-class="{'glyphicon-arrow-up':  reverseSort, 'glyphicon-arrow-down': !reverseSort}">
                  </div>
                </th>
                <th table-sorting="email">Email
                  <div class="glyphicon" ng-if="predicate === 'email'" ng-class="{'glyphicon-arrow-up':  reverseSort, 'glyphicon-arrow-down': !reverseSort}">
                  </div>
                </th>
                <th table-sorting="role">Role
                  <div class="glyphicon" ng-if="predicate === 'role'" ng-class="{'glyphicon-arrow-up':  reverseSort, 'glyphicon-arrow-down': !reverseSort}">
                  </div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users | orderBy:predicate:reverseSort track by $index" class="row-item">
                <td>{{ user.id }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="/profile/{{user.id}}" class="glyphicon glyphicon-circle-arrow-right text-green"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <p ng-if="!users" class="alert alert-danger text-center">
        No any users registered here!
    </p> -->
</div>
</tr>
</tbody>
</table>
</div>
