<div ng-if="isAuthenticated() && currentUser.role === 'admin'" class="container">
    <table class="table table-hover responsive" wt-responsive-table>
        <thead>
            <tr>
                <th default-sorting="full_name" default-sorting="full_name" table-sorting="full_name">Name
                    <arrow-sorting ng-if="predicate === 'full_name'"></arrow-sorting>
                </th>
                <th table-sorting="email">Email
                    <arrow-sorting ng-if="predicate === 'email'"></arrow-sorting>
                </th>
                <th table-sorting="role">Role
                    <arrow-sorting ng-if="predicate === 'role'"></arrow-sorting>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users | orderBy:predicate:reverseSort track by $index" class="row-item">
                <td>{{ user.full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="/profile/{{user.id}}" class="glyphicon glyphicon-circle-arrow-right text-green"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <p ng-if="!users" class="alert alert-danger text-center">
        No any users registered here!
    </p> -->
</div>
</tr>
</tbody>
</table>
</div>
