<div class="text-right">
    <button type="button" name="button" class="btn btn-primary hidden-xs" ng-click="isChatOnTop()">Chat on top</button>
</div>
<div class="aligner">
    <div class="chat-window">
        <div scroll-glue class="chat-body">
            <ul class="messages">
                <div class="text-center">
                    <button ng-click="getHistory()" ng-if="haveHistory()" class="btn btn-lg btn-primary">Load more messages</button>
                </div>
                <!-- History -->
                <li class="message" ng-class="{ 'message--mine': isMineHistory($index) }" ng-repeat="history in history track by $index">
                    <div class="message__author">{{history.full_name}}</div>
                    <div class="message__text">
                        <div ng-bind-html="history.text">
                        </div>
                        <div class="message__time">
                            {{history.date}}
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="messages">
                <!-- New messages -->
                <li class="message" ng-class="{ 'message--mine': isMineLive($index) }" ng-repeat="live in live track by $index">
                    <div class="message__author">{{live.full_name}}</div>
                    <div class="message__text">
                        <div ng-bind-html="live.text">
                        </div>
                        <div class="message__time">
                            {{live.date}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="chat-footer">
            <form name="publish" class="chat-footer__message">
                <div class="col-sm-10">
                    <textarea ng-textarea-enter="msgSend()" name="message" ng-model="textMsg"></textarea>
                    <p class="count-characters">{{symbols}}</p>
                </div>
                <div class="col-sm-2">
                    <input class="send-btn send-wrapper" ng-click="msgSend()" type="submit" value="" ng-disabled="isError()">
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-if="flash" class="col-sm-8 col-sm-offset-2 flash-block">
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-bind="flash.message"></div>
</div>
<!-- <script>alert("ss")</script> -->
