<!--<form name="publish" ng-submit="msgSend()">
    <input type="text" name="message">
    <input type="submit" value="Send">
</form>
<p>{{message}}</p>-->

<div class="chat-page">
    <div class="chat-window">

        <div class="chat-body">
            <ul class="messages">

                <li class="message" ng-class="{ 'message--mine': m.authorId == chatCtrl.author.uid }" ng-repeat="mess in message">
                    <!--<img class="message__author-img" ng-src="{{m.authorImg}}" alt="">
                    <span class="message__author">{{m.author}}</span>-->
                    <div class="message__text">
                        {{mess}}
                    </div>
                </li>
            </ul>
        </div>

        <div class="chat-footer">

              <form name="publish" ng-submit="msgSend()" class="chat-footer__message">
                <textarea enter-clicker="chatCtrl.addMessage()" name="message" ng-model="chatCtrl.newMessage"></textarea>
                <input class="send-btn" ng-submit="msgSend()" type="submit" value="">
              </form>
        </div>

    </div>
</div>
