<div class="chat-page">
    <div class="chat-window">
        <div class="chat-body">
          <!-- Form for login to the chat -->
          <div class="" ng-if="!login">
            <form name="login" class="" ng-submit="chatLogin()">
              <input type="text" name="login" value="" ng-model="username">
              <input class="send-btn" ng-click="chatLogin()" type="submit" value="">
            </form>
          </div>
            <ul class="messages" ng-if="login">
                <li class="message" ng-class="{ 'message--mine': m.authorId == chatCtrl.author.uid }" ng-repeat="history in history track by $index">
                    <!--<img class="message__author-img" ng-src="{{m.authorImg}}" alt="">
                    <span class="message__author">{{m.author}}</span>-->
                    <div class="message__text">
                        {{history}}
                    </div>
                </li>
                <li class="message" ng-class="{ 'message--mine': m.authorId == chatCtrl.author.uid }" ng-repeat="mess in live track by $index">
                    <!--<img class="message__author-img" ng-src="{{m.authorImg}}" alt="">
                    <span class="message__author">{{m.author}}</span>-->
                    <div class="message__text">
                        {{mess}}
                    </div>
                </li>
            </ul>

        </div>
        <div class="chat-footer">
            <form name="publish" class="chat-footer__message">
                <textarea enter-clicker="msgSend()" name="message"></textarea>
                <div class="send-wrapper">
                  <input class="send-btn" ng-click="msgSend()" type="submit" value="">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-sm-8 col-sm-offset-2 flash-block">
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
</div>
