.content-wrapper{
    background: #eaddcc;
    height: 100%;
    width: 100%;
}

.carousel-content{
    width: 50%;
    height: 40%;
    padding: 5% 3%;
    display: inline-block;
}
.carousel{
    width: 100%;
    height: 100%;
}

.carousel-indicators {
    top: 20px;
}

.carousel-inner{
    display: inline-block;
    height: 100%;
    display: inline-block;
    box-shadow: -1px 2px 24px 7px rgba(0,0,0,0.78);
}

.item-news{
    display: inline-block;
    background-color: #FFFFCC;
    border-radius: 10px;
    width: 33%;
    vertical-align: text-top;
    opacity: 0.8;
    margin: 30px auto;
}

.item-news:hover{
    background-color: white;
}

.time-header{
    background-color: grey;
    padding: 5px;
    color: white;
}

.inner-caption-item{
padding: 5px;
margin: 10px;
}

.upcoming-events{
    display: inline-block;
    width: 45%;
    height: 100%;
    margin-top: 5%;
    font-size: 1em;
    vertical-align: top;
}

.upcoming-events-item1,
.upcoming-events-item2,
.upcoming-events-item3{
    padding: 0px 10px;
    margin: 20px 5px;
}

.upcoming-events-item1{
border-left: 4px solid #CC6666;
}

.upcoming-events-item2{
    border-left: 4px solid #CCCCFF;
}

.upcoming-events-item3{
    border-left: 4px solid #CCFF66;
}
