$body-bg-color: #fff;

$header-text-color: #171b65;
$logo-bg-color: #171b65;

$navbar-bg-color: #171b65;
$navbar-border-color: #fff;
$navbar-text-color: #FFFFFF;
$navbar-active-text-color: #00b4d5;
$navbar-active-bg-color: #282fa9;

$main-content-bg-color: #fff;

$footer-text-color: #fff;
$footer-bg-color: #171b65;

// news page
$item-news-bg-color: #FFFFCC;
$item-news-bg-color-hover: #FFFFFF;
$time-header-bg-color: #999999;
$time-header-text-color: #FFFFFF;

//chat
$mainColor: #4688F1;
$success: #3AA757;
$danger: #FC0D1B;
$lightColor: #eceff1;
$borderColor: #E6C999;
$bgLight: #FEFCF4;
$bgDeep: #F9F2E7;
$fontColor: #CA8D26;
