$body-bg-color: #171b65;

$header-text-color: #fff;
$logo-bg-color: transparent;

$footer-bg-color: transparent;

// news page
$item-news-bg-color: #FFFFCC;
$item-news-bg-color-hover: #FFFFFF;
$time-header-bg-color: #999999;
$time-header-text-color: #FFFFFF;

//chat
$mainColor: #4688F1;
$success: #3AA757;
$danger: #FC0D1B;
$lightColor: #eceff1;
$borderColor: #E6C999;
$bgLight: #FEFCF4;
$bgDeep: #F9F2E7;
$fontColor: #CA8D26;
