$body-bg-color: #171b65;

$text-color-light: #f5f5f5;
$text-color-dark: #c17900;

$header-text-color: #f5f5f5;
$logo-bg-color: transparent;

$navbar-bg-color: #171b65;
$navbar-border-color: #f5f5f5;
$navbar-text-color: #FFFFFF;
$navbar-active-text-color: #00b4d5;
$navbar-active-bg-color: #282fa9;

$main-content-bg-color: #f5f5f5;

$footer-text-color: #f5f5f5;
$footer-bg-color: transparent;

// news page
$item-news-bg-color: #FFFFCC;
$item-news-bg-color-hover: #FFFFFF;
$time-header-bg-color: #999999;
$time-header-text-color: #FFFFFF;