<div ng-cloak class="input-group">
    <script type="text/ng-template" id="datepicker.html">
        <div ng-transclude></div>
    </script>
    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default proper-btn" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</div>
