<div class="container">
    <div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th class="col-md-2" ng-click="sortData('title')">Event
                        <div class="glyphicon"
                            ng-if="sortColumn === 'title'"
                            ng-class="{'glyphicon-arrow-up':  reverseSort, 'glyphicon-arrow-down': !reverseSort}"></div>
                    </th>
                    <th class="col-md-2" ng-click="sortData('date')">Date
                        <div class="glyphicon"
                            ng-if="sortColumn === 'date'"
                            ng-class="{'glyphicon-arrow-up':  reverseSort, 'glyphicon-arrow-down': !reverseSort}"></div>
                    </th>
                    <th class="col-md-8">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="eventItem in events | orderBy:sortColoumn:reverseSort track by $index" ng-click="fullEvent(eventItem.id)" class="row-item">
                        <td>{{eventItem.title}}</td>
                        <td>{{eventItem.date | date:'MM.dd.yyyy'}}</td>
                        <td>{{eventItem.desc}}
                            <div class="row">
                                <a href="/event/id/edit" class="btn">Edit event</a>
                            </div>
                            <div class="row">
                                <button class="btn" ng-click="openDeleteModal($event, eventItem, $index)">Delete event</button>
                            </div>
                        </td>
                </tr>
            </tbody>
        </table>
      <!--   <div class="row btn-delete-item">
            <button class="btn" ng-click="postEventItem(mockData)">Create new event(test-button)</button>
        </div> -->

        <div class="row">
            <a href="/event/add" class="btn">Add new event</a>
        </div>
        
        <script type="text/ng-template" id="deleteModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Delete event "{{currentEventTitle}}"</h3>
            </div>
            <div class="modal-body" id="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                <button class="btn btn-danger" type="button" ng-click="delete()">OK</button>
            </div>
        </script>
    </div>
</div>
