<div class="container event-page">
  <div class="row">
    <h1>{{event.title}} <span class="date pull-right">{{event.date}}</span></h1>
    </div>
    <div class="row" >
      <div class="col-md-6">
        <img src="./build/img/{{event.imgURL}}" alt="" />
        <div id="map"></div>
      </div>
      <div class="col-md-6">
        <p>{{event.description}}</p>
        <div class="btn-group" ng-if = "!isSubscribe" ng-show="!isSubscribe">
         <button type="button" class="btn btn-success btn-lg" ng-click="subscribe()" >Subscribe</button>
       </div>
       <div  ng-if = "isSubscribe">
         <div class="alert alert-success" >
           You have successfully subscribed to event
         </div>
         <button type="button" class="btn " ng-click="unSubscribe()" >Unsubscribe</button>

       </div>

      </div>
  </div>
</div>
