<!DOCTYPE html>
<html ng-app="em" ng-controller="em.navbarController">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="shortcut icon" type="image/x-icon" href="build/img/favicon.ico">
    <link rel="stylesheet" href="build/css/main.css" media="screen" title="no title">
    <script type="text/javascript" src="./build/js/angular.js"></script>
    <script type="text/javascript" src="./build/js/angular-route.js"></script>
    <script type="text/javascript" src="./build/js/ui-bootstrap.js"></script>
    <script type="text/javascript" src="./build/js/satellizer.js"></script>
    <script type="text/javascript" src="./build/js/angular-animate.js"></script>
    <script type="text/javascript" src="./build/js/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="./build/js/satellizer.js"></script>
    <script type="text/javascript" src="./build/js/angular-cookies.js"></script>
    <script type="text/javascript" src="./build/js/angular-sanitize.js"></script>
    <script type="text/javascript" src="./build/js/scrollglue.js"></script>
    <script type="text/javascript" src="./build/js/angular-responsive-tables.js"></script>
    <script type="text/javascript" src="./build/js/textAngular-rangy.min.js"></script>
    <script type="text/javascript" src="./build/js/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="./build/js/textAngular.min.js"></script>
    <script type="text/javascript" src="./build/js/moment.js"></script>
    <title>Event Manager</title>
</head>

<body>
    <header class="container">
        <div class="row">
            <div class="aligner">
                <div class="hidden-xs col-sm-3 col-md-2 no-pad">
                    <a href="/"><img src="./build/img/logoEM.png" alt="LOGO" class="logo"></a>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 header text-center">
                    <span class="color">event</span>manager
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div ng-click="classHandler()" class="collapse navbar-collapse" uib-collapse="!isCollapsed">
                        <ul class="nav navbar-nav">
                            <li ng-cloak ng-class="{'active': thisActive === 'main'}"><a href="/" >Main<span class="sr-only">(current)</span></a></li>
                            <li ng-cloak ng-class="{'active': thisActive === 'events'}"><a href="events" >Events</a></li>
                            <li ng-cloak ng-if="isAuthenticated() && currentUser.role === 'user'" ng-class="{'active': thisActive === 'users'}"><a href="users" >Users</a></li>
                            <li ng-cloak ng-class="{'active': thisActive === 'results'}"><a href="results" >Results</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-cloak ng-if="isAuthenticated() && !chatOnTop" ng-class="{'active': thisActive === 'chat'}"><a href="chat">Chat</a></li>
                            <li ng-cloak ng-if="isAuthenticated()" ng-class="{'active': thisActive === 'profile'}"><a href="profile/{{id}}" ng-click="getId()">My Profile</a></li>
                            <li ng-cloak ng-if="!isAuthenticated()" ng-class="{'active': thisActive === 'register'}"><a href="register">Register</a></li>
                            <li ng-cloak ng-if="!isAuthenticated()" ng-class="{'active': thisActive === 'login'}"><a href="login">Login</a></li>
                            <li ng-cloak ng-if="isAuthenticated()" ng-class="{'active': thisActive === 'logout'}"><a href="logout">Logout</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </header>
    <!-- Content -->
    <main class="main text-justify relative">
        <div class="main-content container">
            <div ng-view></div>
        </div>
        <!-- Small Chat -->
        <div ng-cloak ng-if="chatOnTop" class="chat-on-top" ng-controller="em.chat.chatController">
            <span class="collapse-area" ng-click="isCollapsed = !isCollapsed">
                </span>
            <a href="" class="close-cross" ng-click="closeSmallChat()"></a>
            <div class="chat-window collapse" uib-collapse="isCollapsed">
                <div scroll-glue class="chat-body">
                    <ul class="messages">
                        <li class="message" ng-class="{ 'message--mine': isMine($index) }" ng-repeat="live in live track by $index">
                            <div class="message__author">{{live.full_name}}</div>
                            <div class="message__text">
                                <div ng-bind-html="live.text">
                                </div>
                                <div class="message__time">
                                    {{live.date}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="chat-footer">
                    <form name="publish" class="chat-footer__message">
                        <textarea ng-textarea-enter="msgSend()" name="message" ng-model="textMsg"></textarea>
                        <input class="send-btn send-wrapper" ng-click="msgSend()" type="submit" value="">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="container footer text-center">
        (C)KH-001-WebUI Team
    </footer>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAd1xMYT1bt99qtFWQEzXiRBvORDWHgPtk&libraries=places'></script>
    <script src="./build/js/all.js"></script>
</body>

</html>
