<form class="form-horizontal">
    <div class="form-group">
        <label for="title" class="col-sm-offset-3 col-sm-2">Title</label>
        <div class="col-sm-4">
            <input type="text" placeholder="Place title here.." class="form-control" id="title" ng-model="event.title">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-offset-3 col-sm-2">Description</label>
    </div>
    <div class="form-group">
        <div text-angular="text-angular" id="description" class="col-sm-offset-3 col-sm-6" ng-model="event.desc"></div>
    </div>
    <div class="form-group">
        <label for="media" class="col-sm-offset-3 col-sm-2">Media</label>
        <div class="col-sm-4">
          <img src="./img/events/{{event.avatar}}" />
            <input type="file" class="form-control" id="media" file-model="event.avatar">
        </div>
    </div>
    <div class="form-group">
        <label for="datepicker" class="col-sm-offset-3 col-sm-2">Date</label>
        <div datepicker-new class="col-sm-4" id="datepicker"></div>
    </div>
    <div class="form-group">
        <label for="map_" class="col-sm-offset-3 col-sm-2">Location</label>
    </div>
    <div class="form-group">
        <div map-new class="col-sm-offset-3 col-sm-6" id="map_"></div>
    </div>
    <div class="form-group">
        <label for="is-game" class="col-sm-offset-5 col-sm-2">This is a game</label>
        <div class="col-sm-1">
            <input type="checkbox" class="form-control" id="is-game" ng-model="event.isGame">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-6 col-sm-3">
            <input type="button" class="btn btn-success" ng-class="{disabled: !(event.title && event.desc && event.avatar && event.date && event.place)}" value="ADD" ng-click="save()">
        </div>
    </div>
</form>
