<div class="col-xs-12">
    <div class="input-group">
        <span class="input-group-addon" id="title">Title</span>
        <input type="text" class="form-control" placeholder="Title.." aria-describedby="title">
    </div>
</div>
<div class="col-xs-12">
    <div class="input-group">
        <span class="input-group-addon" id="title">Description</span>
        <input type="text" class="form-control" placeholder="Description.." aria-describedby="title">
    </div>
</div>
<div class="col-xs-12">
  
</div>
