<div class="container">
    <div class="row form-group">
        <div class="col-sm-offset-3 col-sm-2">Title</div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Place title here.." ng-model="event.title">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-3 col-sm-2">Description</div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Place description here.." ng-model="event.desc">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-3 col-sm-2">Date</div>
        <div class="col-sm-4">
              <datepicker></datepicker>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-3 col-sm-2">Location</div>
        <div class="col-sm-4">
            <div class="alert alert-danger text-center" role="alert" ng-show="apiError">
                <b>API Error : </b>
                <span>{{ apiStatus }}</span>
            </div>
            <form name="searchForm" novalidate ng-submit="search()">
                <div class="input-group">
                    <input name="place" type="text" class="form-control" ng-model="event.place" required autofocus />
                    <span class="input-group-btn">
                <button class="btn btn-primary"
                ng-disabled="searchForm.$invalid">Search</button>
            </span>
                </div>
            </form>
              <div id="map" map ></div>

            <form name="resForm" class="form-horizontal" novalidate ng-submit="send()">
            </form>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-6 col-sm-1">
            <a class="btn btn-danger" href="/" ng-click="cancel()">Cancel</a>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-success" ng-click="add()">Add</button>
        </div>
    </div>
</div>
