<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="user-info">
                <h2>User name</h2>
                <img src="http://images.clipartpanda.com/happy-computer-user-happy-computeruser.png" alt="Your Photo" class="img-responsive" />
                <p>
                    email: email@email.com
                </p>
                <button type="button" name="button" class="btn btn-primary btn-lg">Change password</button>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="upcoming-events-item">
                <h4>May require custom widths</h4>
                <h6>15.09.2016</h6>
                <p>Inputs and selects have so multiple controls can reside on the same line. Depending on your layout, additional custom widths may be required.
                </p>
            </div>
            <div class="upcoming-events-item">
                <h4>May require custom widths</h4>
                <h6>15.09.2016</h6>
                <p>Inputs and selects have so multiple controls can reside on the same line. Depending on your layout, additional custom widths may be required.
                </p>
            </div>
            <div class="upcoming-events-item">
                <h4>May require custom widths</h4>
                <h6>15.09.2016</h6>
                <p>Inputs and selects have so multiple controls can reside on the same line. Depending on your layout, additional custom widths may be required.
                </p>
            </div>
        </div>
    </div>
</div>
<style media="screen">
    .upcoming-events-item {
        border-left: 4px solid #CC6666;
        padding: 0px 10px;
        margin: 20px 5px;
    }
</style>
