@import "variables";
body {
  background-color: $body-background-color;
  font-family: $regular-font-family;
  font-size: $regular-font-size;
}
.content {
  background-color: $content-background-color;

  width: $content-width;
  height: $content-height;
  margin: $content-margin-top-n-bottom auto;
  padding: $content-padding;

  border-style: $content-boder-style;
  border-radius: $content-border-radius;
  border-width: $content-boder-width;
  border-color: $content-border-color;
}

.header {
  text-align: $header-align;
  margin: $header-main-footer-margin;
  img {
    width: 200px;
    margin-right: $logo-right-margin;
  }
  .title {
    font-family: $title-font-family;
    font-size: $title-font-size;
    color: $text-color-light;
  }
}

.footer {
  height: $footer-height;
  text-align: $footer-align;
  margin-bottom: $footer-margin-bottom;
  .copyright {
    font-family: $footer-font-family;
    font-size: $footer-font-size;
    color: $text-color-light;
  }
}

.main {
    margin: $header-main-footer-margin;
    min-height: $main-min-height;
    &::after{
      content: "";
      display: block;
    }
}
