//Fonts
@font-face {
    font-family: "orange juice";
    src: url("../font/orange-juice-2.0.eot");
    /* IE9 */
    src: url("../font/orange-juice-2.0.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/orange-juice-2.0.woff") format("woff"), /* chrome, firefox */
    url("../font/orange-juice-2.0.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/orange-juice-2.0.svg#orange juice") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Aquawax";
    src: url("../font/AquawaxMedium.eot");
    /* IE9 */
    src: url("../font/AquawaxMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/AquawaxMedium.woff") format("woff"), /* chrome, firefox */
    url("../font/AquawaxMedium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/AquawaxMedium.svg#Aquawax") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GLYPHICONS Halflings";
    src: url("../font/glyphicons-halflings-regular.eot");
    /* IE9 */
    src: url("../font/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/glyphicons-halflings-regular.woff") format("woff"), /* chrome, firefox */
    url("../font/glyphicons-halflings-regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/glyphicons-halflings-regular.svg#GLYPHICONS Halflings") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Fjalla One Regular";
    src: url("../font/FjallaOne-Regular.eot");
    /* IE9 */
    src: url("../font/FjallaOne-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/FjallaOne-Regular.woff") format("woff"), /* chrome, firefox */
    url("../font/FjallaOne-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/FjallaOne-Regular.svg#Fjalla One") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
