//Fonts
@font-face {
  font-family: "Orange Juice";
  src: url("./src/build/font/orange-juice-2.0.ttf");
}
@font-face {
  font-family: "Fjalla One Regular";
  src: url("./src/build/font/FjallaOne-Regular.ttf");
}
