//Fonts

@font-face {
    font-family: "M+ 1c";
    src: url("../fonts/mplus-1c-medium.eot");
    /* IE9 */
    src: url("../fonts/mplus-1c-medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/mplus-1c-medium.woff") format("woff"), /* chrome, firefox */
    url("../fonts/mplus-1c-medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/mplus-1c-medium.svg#M+ 1c") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GLYPHICONS Halflings";
    src: url("../fonts/glyphicons-halflings-regular.eot");
    /* IE9 */
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/glyphicons-halflings-regular.woff") format("woff"), /* chrome, firefox */
    url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/glyphicons-halflings-regular.svg#GLYPHICONS Halflings") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Fjalla One Regular";
    src: url("../fonts/FjallaOne-Regular.eot");
    /* IE9 */
    src: url("../fonts/FjallaOne-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/FjallaOne-Regular.woff") format("woff"), /* chrome, firefox */
    url("../fonts/FjallaOne-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/FjallaOne-Regular.svg#Fjalla One") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
