body {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

a,
a:hover {
    color: #171b65;
    transition: all 0.3s ease;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.no-pad {
    padding: 0 !important;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-height {
    height: 100%;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.btn {
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 5px 0;
    box-shadow: 0 5px 10px -4px #000;
    transition: all 0.4s;
    &:hover {
        box-shadow: 0 0 10px -4px #000;
    }
    &.full-width {
        width: 100%;
    }
    &.btn-lg {
        min-width: 200px;
        margin-bottom: 10px;
    }
}

datepicker {
    .btn-sm {
        padding: 5px 10px;
        margin: 0;
        border: 1px solid #ccc;
        box-shadow: none;
    }
}

.table {
    .row-item {
        &:hover {
            background: lighten($navbar-active-text-color, 55%);
        }
    }
}

button[disabled],
html input[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
}

.input-group {
    .form-control {
        padding-top: 19px;
        padding-bottom: 19px;
    }
}

.panel {
    margin-top: 15px;
}

.map {
    width: 100%;
}

.avatar-small {
    max-width: 50px;
}
