@import "../lib/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "fonts.scss";
@import "variables.scss";
@import "_variables.scss";
@import "themes/theme-dark.scss"; //include custom theme here
@import "layout.scss";
@import "global.scss";

@import "pages/responsive-table.scss";

@import "pages/main-news.scss";
@import "pages/event.scss";
@import "pages/event-list.scss";

@import "pages/profile.scss";



@import "pages/editEvent.scss";
@import "pages/res.scss";
@import "pages/chat.scss";
@import "pages/login.scss";
