<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="user-info">
                <img src="{user.avatar}}" alt="Your Photo" class="img-responsive" />
                <h2>{{user.full_name}}</h2>
                <p>
                    {{user.email}}
                </p>
                <a href="/me/settings" class="btn btn-primary btn-lg">Settings</a>
            </div>
        </div>
        <div class="col-sm-8">
            <p class="h3" ng-if="events.length">Events coming soon</p>
            <div ng-repeat="event in events track by event.date" class="upcoming-events-item">
                <div>
                    <a href="/events/{{event.event}}">{{event.title}}</a><span class="pull-right event-date">{{event.date}}</span>
                    <p>
                        {{event.desc}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
