.form__login {
    &.short {
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }
}

.chat-window {
    width: 100%;
    overflow: hidden;
    border: 1px solid $borderColor;
    border-radius: 10px;
    @media screen and (max-width: 768px) {
        border: none;
    }
}

.chat-footer,
.chat-header {
    border-top: 1px solid $borderColor;
    background-color: $bgLight;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 27px -7px #000;
    position: relative;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $borderColor;
    border-top: none;
    z-index: 2;
}

.chat-header__author {
    font-weight: 700;
    font-size: 18px;

    input {
        border: none;
        box-shadow: 0 0 10px -5px #000;
        border-radius: 30px;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        outline: none;
        width: 50%;
        margin: 0 auto;
    }
}

.chat-footer__message {
    text-align: center;
    position: relative;
    overflow: hidden;

    div {
        padding: 2px;
    }

    textarea {
        width: 100%;
        padding: 10px;
        border: none;
        box-shadow: 0 0 15px -5px #000;
        border-radius: 15px;
        outline: none;
    }
}

.chat-body {
    position: relative;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    background: #fff;
}

.messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.message {
    width: 80%;
    position: relative;
    float: left;
    margin-bottom: 5px;
    word-break: break-all;
}

.message__author {
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 8px;
    left: -10px;
    font-weight: 700;
    padding-left: 10px;
    margin-bottom: 5px;
}

.message__text {
    position: relative;
    display: inline-block;
    vertical-align: top;
    max-width: 80%;
    background-color: rgba(238,238,238,0.30);
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #eee;
    font-size: 18px;
}

.message__text::before {
    position: absolute;
    left: -20px;
    top: 10px;
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
    border-right: 10px solid rgba(238,238,238,0.35);
    content: "";
}

.message__time {
    font-size: 13px;
}

.message__author-img {
    height: 40px;
    border-radius: 50%;
    margin: 0 5px 10px 0;
    border: 2px solid #fff;
}

.message--mine {
    float: right;
    text-align: right;

    .message__author {
        display: none;
    }

    .message__text {
        background-color: $bgDeep;
        border-color: lighten($borderColor, 15%);
    }

    .message__text::before {
        top: auto;
        bottom: 10px;
        right: -20px;
        left: auto;
        border: 10px solid transparent;
        border-left: 10px solid lighten($borderColor, 18%);
    }
}

.send-wrapper {
    background: $lightBlue;
    padding: 2px;
    border: none;
    border-radius: 8px;
    margin: 5px auto;
    box-shadow: 0 3px 15px -5px #000;

    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.send-btn {
    width: 100%;
    height: 100%;
    line-height: 46px;
    text-align: center;
    background: url("../img/send-icon.png") no-repeat center center;
    border: none;
    transition: all 0.3s;
    position: relative;

    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.chat-on-top {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    z-index: 1;
}

.close-cross {
    position: absolute;
    right: 0;
    top: -32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    background: #fff;
}

.close-cross:hover {
    opacity: 1;
}

.close-cross:after,
.close-cross:before {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close-cross:before {
    transform: rotate(45deg);
}

.close-cross:after {
    transform: rotate(-45deg);
}

.collapse-area {
  position: absolute;
  left: 0;
  top: -32px;
  width: 271px;
  height: 32px;
  cursor: pointer;
  background: #E6C999;
  border-radius: 7px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
