#map {
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}

.form-style {
    position: relative;
    background: #F8F8F8;
    border: 5px dashed #DDDDDD;
}

input[type=file] {
    width: 300px;
    height: 300px;
    background: #F8F8F8;
    border: 5px dashed #DDDDDD;
    opacity: 0;
}

input[type=file]~label {
    position: absolute;
    top: 48%;
    left: 28%;
}

.small-img {
    width: 50px;
    margin: 5px;
}
