.event-page{
  h1{
    text-transform: capitalize;;
  }
  .date{
    font-size: 0.75em;
  }
  .btn-group{
    margin-top: 40px;
    width: 100%;
    text-align: center;
    .btn{
      float: none;
      width: 50%;
    }

  }
  .alert-danger{
    text-align: center;
    padding: 10% 0;
  }
}
