.td-text {
    text-align: center;
}
.btn-delete-item {
    margin: 10px 0;
}

.btn-custom-cancel-modal {
	margin: 5px 0 0;
}

.no-margin {
	margin: 0px;
}

.modal-content {
	padding: 0 15px;
}

.invitation-input-wrapper .dropdown-menu {
    width: 400px;
}
