.content-wrapper{
    background: #eaddcc;
    height: 100%;
    width: 100%;
}

.carousel-content{
    padding: 5% 3%;
    display: inline-block;
}
.carousel-inner img{
    width: 100%;
}

.carousel{
    width: 100%;
    height: 100%;
}

.carousel-indicators {
    top: 20px;
}

.carousel-inner{
    display: inline-block;
    height: 100%;
    display: inline-block;
    box-shadow: -1px 2px 24px 7px rgba(0,0,0,0.78);
}

.items-news {
    margin: 0 auto 30px;
}

.item-news{
    display: inline-block;
    background-color: #FFFFCC;
    vertical-align: text-top;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .item-news{
        margin-left:6.2%;
    }
}

.item-news:hover{
    background-color: white;
}

.time-header{
    width: calc(100% + 30px);
    margin-left: -15px;
    background-color: #999999;
    padding: 5px;
    color: white;
}

.inner-caption-item{
    padding: 5px;
}

.upcoming-events{
    display: inline-block;
    height: 100%;
    margin-top: 5%;
    font-size: 1em;
    vertical-align: top;
}

.upcoming-events-item1,
.upcoming-events-item2,
.upcoming-events-item3{
    padding: 0px 10px;
    margin: 20px 5px;
}

.upcoming-events-item1{
border-left: 4px solid #CC6666;
}

.upcoming-events-item2{
    border-left: 4px solid #CCCCFF;
}

.upcoming-events-item3{
    border-left: 4px solid #CCFF66;
}
