.content-wrapper{
    background: #eaddcc;
    height: 100%;
    width: 100%;
}

.carousel-content{
    padding: 5% 3%;
    display: inline-block;
}
.carousel-inner img{
    width: 100%;
}

.carousel{
    width: 100%;
    height: 100%;
}

.carousel-indicators {
    top: 20px;
}

.carousel-inner{
    display: inline-block;
    height: 100%;
    display: inline-block;
    box-shadow: -1px 2px 24px 7px rgba(0,0,0,0.78);
}

.items-news {
    margin: 0 auto 30px;
}

.item-news{
    display: inline-block;
    background-color: #FFFFCC;
    vertical-align: text-top;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .item-news{
        margin-left:6.2%;
    }
}

.item-news:hover{
    background-color: white;
}

.time-header{
    width: calc(100% + 30px);
    margin-left: -15px;
    background-color: #999999;
    padding: 5px;
    color: white;
}

.inner-caption-item{
    padding: 5px;
}

.upcoming-events-items{
    display: inline-block;
    height: 100%;
    font-size: 1em;
    vertical-align: top;
    border-left: 4px solid #FF9900;
    padding: 0px 10px;
    margin: 5px 10px;
}

.upcoming-events{
    margin-top: 5%;
}
